@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin the-color{
    background: #EBEBEB;
    color: #333;
}

@mixin social-icons{
    filter: drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -o-filter:drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -ms-filter:drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -moz-filter:drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -webkit-filter: drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    fill: #333;
    -webkit-transition: fill ease-in-out 0.25s;
    -moz-transition: fill ease-in-out 0.25s;
    -o-transition: fill ease-in-out 0.25s;
    transition: fill ease-in-out 0.25s;
    height: 100%; 
    width: 100%;
    
    &:hover{
        fill: #00bcc5;
    }
    

    @media(max-width: 600px) {
        height: 80%;
    }
}

.contactMotherDiv{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    

    .mainDivContact{
        @include flex-center();
        align-self: center;
        flex-direction: column;
        margin-bottom: 300px;
        width: 90%;
        margin-top: 110px;

        .headContainer{ 
            @include flex-start();
            @include the-color();
            width: 100%;
            height: 110px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
            max-width: 790px;
            margin-bottom: 52px;

            .insideHeadDiv{
                @include flex-center();
                border-right: #00bcc5 solid 5px;
                background: #fee100;
                height: 50px;
                width: 30%;

                @media(max-width: 700px) {
                    width: 50%;
                }
            }
         }

         .surroundingDivContact{
             display: grid;
             grid-template-columns: repeat(6, 1fr);
             grid-template-rows: auto auto;
             width: 100%;
             grid-gap: 3.5%;
            .infoContainer{ 
                @include the-color();
                flex-direction: column;
                width: 100%;
                height: 225px;
                max-width: 790px;
                grid-column: 1/7;

                .infoHeadDiv{
                    width: 100%;
                    height: 40px;
                    background: #333;
                    color: #e4e4e4;
                    @include flex-center();

                    .infoHead{
                        width: 90%;

                    }
                }

                .infoDiv{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: 185px;
                    width: 100%;
                    grid-column: 1/7;

                    .contactInfoSide{ 
                        @include flex-center();
                        @include the-color();
                        grid-column: 1/4;
                        width: 100%;

                        .contactInfoDiv{    
                            @include flex-center();
                            justify-content: space-evenly;
                            flex-direction: column;
                            height: 80%;

                            p{
                                align-self: flex-start;

                                @media(max-width: 700px) {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    };

                    .socialInfoSide{ 
                        @include flex-center();
                        grid-column: 4/7;
                        background: #333;
                        color: #e4e4e4;
                        width: 100%;

                        .socialBox{ 
                            height: 100%;
                            width: 100%;
                            @include the-color();
                            @include flex-center();
        
                            .socialThird{
                                @include flex-center();
                                height: 100%;
                                
                                
                                .iconA{ 
                                    height:50%;
                                    width: 75px;
                                    transition: all ease-in-out 0.25s;
                                    padding: 10px 8px;
                                    @include flex-center();
        
                                    .emailSVG, .githubSVG,  .linkedinSVG{
                                        @include social-icons();
                                    }
        
                                    &:hover{
                                        // transition: all ease-in-out 0.25s;
                                        // -webkit-transition: all ease-in-out 0.25s;
                                        // -moz-transition: all ease-in-out 0.25s;
                                        // -o-transition: all ease-in-out 0.25s;
                                        cursor: pointer;
                                        transform: translate(0px, -6px);
                                        
                                    }
                                }  
                            }
                        }
                    };

                    @media(max-width: 700px) {
                        grid-template-rows: 190px 190px;

                        .contactInfoSide{
                            grid-column: 1/7;
                        }
                        .socialInfoSide{
                            grid-column: 1/7;
                            grid-row: 2;
                        }
                    }
                }
            }

            .formContainer{ 
                width: 100%;
                height: 225px;
                max-width: 790px;
                grid-column: 1/7;

                .contactForm{
                    height: 70%;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: auto auto auto;
                    grid-gap: 3.5%;

                    input, textarea, button{
                        @include the-color();
                        -webkit-appearance: none;
                        border: none;
                    }

                    #name{ grid-column: 1/4; grid-row: 1 }
                    #email{ grid-column: 4/7; grid-row: 1 }
                    #company{ grid-column: 1/4; grid-row: 2 }
                    #phoneNum{ grid-column: 4/7; grid-row: 2 }
                    #message{ 
                        grid-column: 1/7; grid-row: 3;
                        border: none;
                    }
                    #sendBtn{
                        -webkit-appearance: none;
                        border: none;
                        outline: none;
                    }

                }
            } 

            @media(max-width: 700px) {
                grid-template-rows: 420px auto;
            }

         }
        

    }
}