@mixin flex-end{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

@mixin transition{
    transition: all 0.4s ease-in-out;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

p{ margin: 0; }


.motherDivFooter{
    display: flex;
    flex-direction: column;
    position: relative;
    clear: both;
    height: 200px;
    width: 100%;
    background: #383838;
    color: #e4e4e4;

    .topDiv{
        display: flex;
        justify-content: flex-end;
        height: 40%;
        width: 100%;
        padding-top: 20px;

        .subTopDiv{
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;
            height: 100%;
            width: 50%;

            .socialsDivFooter{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 50px;
                width: 150px;
                background: #383838;

                .linkedInDivFooter, .githubDivFooter, .instagramDivFooter{
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    height: 100%;
                    width: 50px;
                    transition: all ease-in-out .3s;
                    fill: #ffffff;

                    &:hover{
                        fill: #f4c400;
                        cursor: pointer;
                    }
                }
            }
        }
    }




    .bottomDiv{
        height: 60%;
        width: 100%;
        .subBottomDiv{
            display: flex;
            justify-content: flex-start;
            height: 100%;
            width: 50%;

            .contactDivContainer{
                display: flex;
                align-items: flex-end;
                padding-left: 20px;
                padding-bottom: 20px;
                .contactDivFooter{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100px;
                        #nameFooter{
                            color: #f4c400;
                            font-size: 1.2rem;
                        }

                        #emailFooter, #numberFooter, #cityFooter {
                            color: #ffffff;
                        }
                }

            }
        }
    }
};


