@mixin flex-end{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.motherDivFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 150px;
    width: 100%;
    position: sticky;
    background: #333;
    color: #e4e4e4;


    .name{ 
        display: flex;
        align-items: center;   
        justify-content: flex-start; 
        grid-column: 1;
        grid-row: 1/4;
        font-size: 1.2rem;

        .nameDiv{ 
            @include flex-center();
            width: 45%;
            grid-row: 2;     

                @media(max-width: 600px) {
                    width: 70%;
                }

                @media(max-width: 450px) {
                        width: 100%;
                }
         }


    };

    .storyDiv{ 
        grid-column: 2; 
        @include flex-end();

        .story{ 
            @include flex-center();
            height: 70%;
            width: 40%;    

                @media(max-width: 600px) {
                    width: 60%;
                }
         }


    };

    .contactDiv{ 
        grid-column: 2; 
        @include flex-end();
        
        .contact{ 
            width: 40%;
            background: #FFE100;
            color: black;
            height: 70%;
            @include flex-center();
            max-width: 500px;
            

            transition: all ease-in-out 0.25s;

            &:hover{
                width: 65%;
                border-left: #00bcc5 10px solid;
                border-right: none;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                
            }

            @media(max-width: 600px) {
                &:hover{
                    width: 100%;
                }
            }
         }

         @media(max-width: 600px) {
            .contact{
                width: 60%;
            }
        }
    };

    .workDiv{ 
        grid-column: 2; 
        height: 100%;
        @include flex-end();

        .work{ 
            width: 40%;
            height: 70%;
            @include flex-center();        
                @media(max-width: 600px) {
                    width: 60%;
                }
         }


    };
};


