@mixin flex-end{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.motherDivFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 150px;
    width: 100%;
    position: sticky;
    background: #333;
    color: #e4e4e4;


    .nameDiv{ 
        display: flex;
        align-items: center;   
        justify-content: flex-start; 
        grid-column: 1;
        grid-row: 1/4;

        .name{ 
            @include flex-center();
            width: 45%;
         }

         @media(max-width: 600px) {
             .name{
                 width: 60%;
             }
         }

         @media(max-width: 450px) {
             .name{
                 width: 85%;
             }
         }
    };

    .storyDiv{ 
        grid-column: 2; 
        @include flex-end();

        .story{ 
            @include flex-center();
            height: 70%;
            width: 40%;
         }

         @media(max-width: 600px) {
            .story{
                width: 60%;
            }
        }
    };

    .contactDiv{ 
        grid-column: 2; 
        @include flex-end();
        
        .contact{ 
            width: 40%;
            background: #FFE100;
            color: black;
            height: 70%;
            @include flex-center();
         }

         @media(max-width: 600px) {
            .contact{
                width: 60%;
            }
        }
    };

    .workDiv{ 
        grid-column: 2; 
        height: 100%;
        @include flex-end();

        .work{ 
            width: 40%;
            height: 70%;
            @include flex-center();
         }

         @media(max-width: 600px) {
            .work{
                width: 60%;
            }
        }
    };
};


