@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-start{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

@mixin the-color{
    color: #D6F2F9;
    background-color: #02536D;
}

@mixin list-standard{
    margin: 0;
    display: flex;
   
    justify-content: space-evenly;
    padding: none;
    list-style-image: url("https://img.icons8.com/material-sharp/15/000000/pentagon.png");
}

@mixin social-icons{
    filter: drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -o-filter:drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -ms-filter:drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -moz-filter:drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    -webkit-filter: drop-shadow( 0 7px 3px rgba(0, 0, 0, .3));
    fill: #333;
    -webkit-transition: fill ease-in-out 0.25s;
    -moz-transition: fill ease-in-out 0.25s;
    -o-transition: fill ease-in-out 0.25s;
    transition: fill ease-in-out 0.25s;
    height: 100%; 
    width: 100%;
    
    &:hover{
        fill: #00bcc5;
    }
    

    @media(max-width: 600px) {
        height: 80%;
    }
}

:root {
    @media(min-width: 600px) {
            --gradient: linear-gradient(
            45deg,
            #019ed3,
            #383838
        )
    }

    @media(max-width: 599px) {
        --gradient: linear-gradient(
            180deg,
            #019ed3,
            #383838
        )
    }



}

@mixin bg-gradient-bundle{
        background-image: var(--gradient);
        background-size: 500%;
        background-position: cover;
        animation: bg-animate 7s infinite alternate;
        animation-delay: 1s;
}

@mixin name-gradient-bundle{

    @keyframes name-animate {
       from {
           color: #282828;
           filter: brightness(1);
        }
       to { 
           color: #383838;
           filter: brightness(1.4);
        }
    };
    
    animation: name-animate 2s infinite alternate;
    animation-delay: 1s;
}

// Open Sans Regular
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("TrueType");
}

// Open Sans Semi Bold
@font-face{
    font-family: "Open Sans Bold";
    src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("TrueType");
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
    cursor: default;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    opacity: 0.9;
    -webkit-font-smoothing: antialiased;
}



strong{
    font-weight: 800;
}


.motherDiv{
    background-color: #02536D;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;

    
    &::-webkit-scrollbar{
        width: 0px;
        height: 0px;
        background-color: transparent;
}

    .mainDiv{
        width: 100%;
        height: calc(100% - 50px);
        
        .introSegment{ 
            @include flex-center();
            height: 100%;
            padding-left: 10%;
            padding-right: 10%;
            background-color: #019ed3;
            // @include bg-gradient-bundle();

            .introP{
                width: inherit;
                font-size: 3rem;
                align-self: center;
                color: #d34301;
                color: #282828;
                font-family: "Open Sans Bold";
                @include name-gradient-bundle();
                font-weight: 900;

                &::before{
                    font-family: "Open Sans";
                    content: 'My name is ';
                    color: #ffffff;
                }

                &::after{
                    font-family: "Open Sans";
                    content: ' & I create great experiences on the internet.';
                    color: #ffffff;
                }

                @media(max-width: 1065px) {
                    font-size: 2.6rem;
                }

                @media(max-width: 650px) {
                    font-size: 2rem;
                }

                @media(max-width: 530px) {
                    font-size: 1.55rem;
                }
            }
         };


    // WORK
        .workSegment{ 
            @include flex-center();
            height: 100%;
            color: #ffffff;
            position: relative;
            background-color: #383838;

            .textDiv{
                position: relative;
                height: 25%;
                width: 65vw;
                max-width: 750px;

                .workHeadDiv{ 
                    margin: 0 0 10px 0;

                    .workHead{ 
                        font-size: 3rem;
                     }
                }
    
                .workParaDiv{ 
                    margin: 0 0 40px 0;
                    
                    .workPara{ 
                        font-size: 1.3rem;
                     }
                }
            }

            .workDiv{        
                position: relative;
                // top: 5%;
                height: 70%;        
                width: 100%;
                max-width: 1110px;
                @include flex-center();

                .workSubDiv{                    
                    height: 100%;
                    width: auto;
                    max-width: 1260px;
                    display: grid;       
                    align-self: center;             
                    grid-template-columns: repeat(3, 30vw);
                    grid-template-rows: auto auto;
                    justify-items: center;
                    justify-content: center;
                    grid-gap:2%;                 


                    .workExample{                        
                        width: 100%;
                        height: calc(100% - 1vw);
                        @include flex-center();
                        border-radius: 5px;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
                        transition: all .35s ease-in-out;
                        background-color: #019ed3;

                        h1{
                            font-size: calc(3vw + 0.5rem);
                        }

                        &:hover{
                            filter:brightness(120%);
                            cursor: pointer;
                            box-shadow: 0 6px 17px rgba(0, 0, 0, 0.7);
                        }
                    }
                }                    
            }   

            @media(min-width: 1400px) {
                height: 530px;
                .workDiv{
                    .workSubDiv{
                        grid-template-columns: repeat(3, 1fr);
                        .workExample{
                            width: 415px;
                            height: 280px;
                        }
                    }
                }
            }    

            @media(max-width: 1000px) {
                height: 85%;
                .workDiv{
                    .workSubDiv{
                        .workExample{
                            height: 24vw;
                        }
                    }
                }
            }

            @media(max-width:740px) {    
                height: 100%;
                .textDiv{
                    .workParaDiv{
                        .workPara{
                            font-size: 1.1rem;
                        }
                    }
                }

                .workDiv{
                    height:80%;
                    .workSubDiv{
                        grid-template-columns: repeat(2, 47vw);
                        grid-template-rows: auto auto auto;
                        .workExample{
                        }
                    }
                }
            }
         };
    

         // SKILLS =====================================
        .skillsSegment{ 
            @include flex-center();
            width: 100%;
            height: auto;
            background-color: #383838;
 
            .skillsHeaderDiv{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                width: 65%;
                height: 30%;
                max-width: 750px;
                // margin: 0 0 45px 0;

                .skillsHeader{
                    color: #ffffff;
                    font-size: 3rem;
                }                   

                .skillsPara{
                    color: #ffffff;
                    font-size: 1.3rem;
                }                

                @media(max-width: 750px){
                    .skillsPara{
                        font-size: 1.2rem;
                    }
                }

                @media(max-width: 550px) {
                    margin: 50px 0 20px 0;
                    width: 75vw;
                    .skillsPara{
                        font-size: 1.1rem;
                        margin: 9px 0 0 0 ;
                        
                    }
                }

                @media(max-width: 420px) {
                    width: 80vw;
                    .skillsPara{
                        font-size: 1.05rem;
                    }
                }

            }                
            // SKILLS TEXT
                // ======================

            .skillsDiv{
                height: 70%;
                width: 100%;            
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                max-width: 675px;
                

                .leftSideSkills, .rightSideSkills, .skillsBlue, .skillsGrey{
                    @include flex-center();
                    justify-content: flex-start;

                    .skillsHeadDiv{
                        margin: 0 0 10px 0;

                        .skillsHead{
                            color: #ffffff;
                            font-size: 1.4rem;
                        }
                    }
    
                    .skillsBlue{
                        background-color: #019ED3;
                        width: auto;
                        height: auto;
                        padding: 10px 8px;
                        border-radius: 5px;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    
                        .skillsGrey{
                            background-color: #383838;
                            height: auto;
                            width: auto;
                            padding: 15px 40px;
                            border-radius: 5px;
        
                            ul{ 
                                color: #ffffff;
                                padding: 0;
        
                                li{
                                    margin: 5px;
                                    font-size: 1.15rem;
                                }
                            }
                        }
                    }
                    

                    @media(min-width: 1250px) {
                        .skillsBlue{
                            .skillsGrey{
                                padding: 30px 50px;
                                ul{
                                    li{
                                        font-size: 1.6rem;
                                    }
                                }
                            }
                        }
                    }

                    @media(min-width: 1000px) and (max-width: 1249px) {
                        .skillsBlue{
                            .skillsGrey{
                                padding: 20px 45px;
                                ul{
                                    li{
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
                    }

                    @media(max-width: 530px) {
                        .skillsHeadDiv{
                            .skillsHead{
                                font-size: 1.2rem;
                            }
                        }
                        .skillsBlue{
                            .skillsGrey{
                                padding: 15px 20px;
                                ul{
                                    margin: 0 0 0 5px;
                                    li{
                                        font-size: 0.95rem;
                                    }
                                }
                            }
                        }
                    }

                    @media(max-width: 425px) {
                        .skillsBlue{
                            .skillsGrey{
                                padding: 5px 15px;
                            }
                        }
                    }
                    // SKILLS DIV
                    // ======================
     
                }
                
    
                .leftSideSkills{
                    width: 50%;
                }
    
                .rightSideSkills{
                    width: 50%;
                }

                @media(min-width: 1000px) {
                    height: 80%;
                }
            }
         };
    
        .letsTalkSegment{  };
    }
}

