@mixin flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
         
         // LETS TALK =====================================
         .letsTalkSegment{ 
                width: 100%;
                height: 200px;
                background: #019ed3;
    
    
                .mainTalkDiv{
                    display: flex;
                    flex-direction: row;
                    padding: 5%;
                    width: 100%;
                    height: 100%;
                    max-width:950px;
                    margin: auto;
    
                    .letsTalkLeft{
                        @include flex-center();
                        width: 50%;
                        height: 100%;
                        border: red;
                    }
    
                    .letsTalkRight{
                        @include flex-center();
                        width: 50%;
                        height: 100%;
                        border: white;
    
                        .talkCTA{
                        display: flex;
                        align-items: center;
                        opacity: 0.9;
                        height: 100%;
                        width: none;
                        color: #ffffff;
                        font-size: 5rem;
                        padding: 0;
                        transition: all 350ms ease-in-out;
                        font-weight: 500;

                                &:hover{
                                        opacity: 0.3;
                                }
                        }
                    }
    
                    @media(max-width: 800px) {
                        flex-direction: column;
    
                        .letsTalkLeft{
                            width: 100%;
                            height: 50%;
    
                            .talkHead{
                                width: inherit;
                            }
                        }
    
                        .letsTalkRight{
                            width: 100%;
                            height: 50%;
    
                            .talkCTA{
                                align-self: flex-start;
                            }
                        }
                    }
                }
             };
             