
@mixin hover{
        &:hover{
            transition: ease-out all 0.2s;
            box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 1);
        }
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
}

h3, h4, p{
    opacity: 0.9;
}

nav{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background: #019ed3;


    a{
        text-decoration: none;
        padding: 5px 8px;
        border-radius: 10px;
        color:#ffffff;
        font-weight: 900;
    } 
    
    .leftSide {
        height: 100%;
        width: 200px;
        @include flex-center();
        padding: 5px 8px;

        .iconA{
            height: 100%;
            width: 100%;

            .navName{ 
                color: #ffffff;
             };

            .navPara{ 
                color: #383838;
                font-weight: 900;
                opacity: 1;
             }
        }

    }

    .rightSide {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .navMenuDiv{
            display: flex;
            flex-direction: row;
            width: 150px;
            justify-content: space-evenly;


            .myStory{                 
                transition: ease-out all 0.2s;
                @include hover();
             }
    }
    }
    @media(max-width: 650px) {
        .leftSide{
            width: 40%;
        }

        .rightSide{
            width: 60%;
        }
    }

}






