@media (min-width: 600px) {
  :root {
    --gradient: linear-gradient(
            45deg,
            #019ed3,
            #383838
        )
    ; } }

@media (max-width: 599px) {
  :root {
    --gradient: linear-gradient(
            180deg,
            #019ed3,
            #383838
        )
    ; } }

@font-face {
  font-family: "Open Sans";
  src: url(/_next/static/chunks/fonts/OpenSans-Regular-629a55a7e793da068dc580d184cc0e31.ttf) format("TrueType"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url(/_next/static/chunks/fonts/OpenSans-Bold-50145685042b4df07a1fd19957275b81.ttf) format("TrueType"); }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  opacity: 0.9;
  -webkit-font-smoothing: antialiased; }

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  cursor: default;
  scroll-behavior: smooth; }

strong {
  font-weight: 800; }

.motherDiv {
  background: #02536D;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll; }
  .motherDiv::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; }
  .motherDiv .mainDiv {
    width: 100%;
    height: calc(100% - 50px); }
    .motherDiv .mainDiv .introSegment {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-left: 10%;
      padding-right: 10%;
      background: #019ed3; }
      .motherDiv .mainDiv .introSegment .introP {
        width: inherit;
        font-size: 3rem;
        align-self: center;
        color: #d34301;
        color: #282828;
        font-family: "Open Sans Bold";
        animation: name-animate 7s infinite alternate;
        animation-delay: 1s;
        font-weight: 900; }

@keyframes name-animate {
  from {
    color: #282828; }
  to {
    color: #d34301; } }
        .motherDiv .mainDiv .introSegment .introP::before {
          font-family: "Open Sans";
          content: 'My name is ';
          color: #ffffff; }
        .motherDiv .mainDiv .introSegment .introP::after {
          font-family: "Open Sans";
          content: ' & I create great experiences on the internet.';
          color: #ffffff; }
        @media (max-width: 1065px) {
          .motherDiv .mainDiv .introSegment .introP {
            font-size: 2.6rem; } }
        @media (max-width: 650px) {
          .motherDiv .mainDiv .introSegment .introP {
            font-size: 2rem; } }
        @media (max-width: 530px) {
          .motherDiv .mainDiv .introSegment .introP {
            font-size: 1.8rem; } }
    .motherDiv .mainDiv .workSegment {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 37vw;
      color: #ffffff;
      position: relative;
      background: #383838;
      padding: 100px;
      padding-left: 0;
      padding-right: 0; }
      .motherDiv .mainDiv .workSegment .textDiv {
        position: absolute;
        top: 100px;
        width: 65vw;
        max-width: 750px;
        -webkit-font-smoothing: antialiased; }
        .motherDiv .mainDiv .workSegment .textDiv .workHeadDiv {
          margin-bottom: 10px;
          -webkit-font-smoothing: antialiased; }
          .motherDiv .mainDiv .workSegment .textDiv .workHeadDiv .workHead {
            font-size: 3rem; }
        .motherDiv .mainDiv .workSegment .textDiv .workParaDiv {
          margin-bottom: 40px;
          -webkit-font-smoothing: antialiased; }
          .motherDiv .mainDiv .workSegment .textDiv .workParaDiv .workPara {
            font-size: 1.3rem; }
      .motherDiv .mainDiv .workSegment .workDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 300px;
        max-width: 1110px; }
        .motherDiv .mainDiv .workSegment .workDiv .workSubDiv {
          padding-top: 30px;
          padding-bottom: 30px;
          height: 100%;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 30vw);
          grid-template-rows: auto;
          justify-items: center;
          justify-content: center;
          grid-gap: 2%;
          max-width: 1110px; }
          .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            width: 100%;
            height: 20vw;
            background: #019ed3;
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
            transition: all .35s ease-in-out; }
            .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample h1 {
              font-size: calc(3vw + 0.5rem); }
            .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample:hover {
              filter: brightness(120%);
              cursor: pointer;
              box-shadow: 0 6px 17px rgba(0, 0, 0, 0.7); }
      @media (max-width: 1301px) {
        .motherDiv .mainDiv .workSegment .workDiv .workSubDiv {
          grid-template-rows: minmax(auto, 280px); } }
      @media (max-width: 900px) {
        .motherDiv .mainDiv .workSegment {
          height: 80vh; }
          .motherDiv .mainDiv .workSegment .textDiv {
            width: 70%; }
            .motherDiv .mainDiv .workSegment .textDiv .workParaDiv {
              width: 100%; }
          .motherDiv .mainDiv .workSegment .workDiv .workSubDiv {
            grid-template-columns: repeat(2, 46vw);
            grid-template-rows: auto auto;
            row-gap: 3vw; }
            .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample {
              width: 45vw;
              height: 24vw; }
              .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample h1 {
                font-size: calc(3vw + 1rem); } }
      @media (max-width: 850px) {
        .motherDiv .mainDiv .workSegment {
          height: 65vh; } }
      @media (max-width: 740px) {
        .motherDiv .mainDiv .workSegment .textDiv .workParaDiv .workPara {
          font-size: 1.2rem; } }
      @media (max-width: 550px) {
        .motherDiv .mainDiv .workSegment {
          height: 95vh;
          padding-bottom: 150px; }
          .motherDiv .mainDiv .workSegment .textDiv {
            width: 75vw;
            align-self: center; }
            .motherDiv .mainDiv .workSegment .textDiv .workParaDiv {
              width: 100%; }
              .motherDiv .mainDiv .workSegment .textDiv .workParaDiv .workPara {
                font-size: 1.1rem;
                width: 100%; }
          .motherDiv .mainDiv .workSegment .workDiv .workSubDiv {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto auto auto;
            row-gap: 3vh; }
            .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample {
              width: 45vh;
              height: 25vh; }
              .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample h1 {
                font-size: calc(3vw + 1.3rem); } }
      @media (max-width: 450px) {
        .motherDiv .mainDiv .workSegment .workParaDiv {
          width: 40vh; }
        .motherDiv .mainDiv .workSegment .workDiv .workSubDiv .workExample {
          width: 40vh; } }
    .motherDiv .mainDiv .skillsSegment {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background: #383838; }
      .motherDiv .mainDiv .skillsSegment .skillsHeaderDiv {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 530px;
        margin-bottom: 30px;
        height: 10%; }
        .motherDiv .mainDiv .skillsSegment .skillsHeaderDiv .skillsHeader {
          height: 100%;
          color: #ffffff;
          font-size: 3rem; }
        @media (max-width: 615px) {
          .motherDiv .mainDiv .skillsSegment .skillsHeaderDiv {
            width: 430px; } }
        @media (max-width: 530px) {
          .motherDiv .mainDiv .skillsSegment .skillsHeaderDiv {
            width: 390px; } }
      .motherDiv .mainDiv .skillsSegment .skillsDiv {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        max-width: 675px; }
        .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey {
          display: flex;
          justify-content: center;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column; }
          .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsHeadDiv, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsHeadDiv, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsHeadDiv, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsHeadDiv {
            margin-bottom: 10px; }
            .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsHeadDiv .skillsHead, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsHeadDiv .skillsHead, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsHeadDiv .skillsHead, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsHeadDiv .skillsHead {
              color: #ffffff;
              font-size: 1.4rem; }
          .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsBlue, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsBlue, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsBlue, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsBlue {
            background: #019ED3;
            width: auto;
            height: auto;
            padding: 10px 8px;
            border-radius: 5%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7); }
            .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsBlue .skillsGrey, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsBlue .skillsGrey, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsBlue .skillsGrey, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsBlue .skillsGrey {
              background: #383838;
              width: 100px;
              height: auto;
              width: auto;
              padding: 15px 40px;
              border-radius: 5px; }
              .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsBlue .skillsGrey ul, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsBlue .skillsGrey ul, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsBlue .skillsGrey ul, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsBlue .skillsGrey ul {
                color: #ffffff;
                padding: 0; }
                .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsBlue .skillsGrey ul li, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsBlue .skillsGrey ul li, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsBlue .skillsGrey ul li, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsBlue .skillsGrey ul li {
                  margin: 5px;
                  font-size: 1.15rem; }
          @media (max-width: 530px) {
            .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsBlue .skillsGrey, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsBlue .skillsGrey, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsBlue .skillsGrey, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsBlue .skillsGrey {
              padding: 15px 20px; }
              .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsBlue .skillsGrey ul, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsBlue .skillsGrey ul, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsBlue .skillsGrey ul, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsBlue .skillsGrey ul {
                margin-left: 5px; }
                .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills .skillsBlue .skillsGrey ul li, .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills .skillsBlue .skillsGrey ul li, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsBlue .skillsBlue .skillsGrey ul li, .motherDiv .mainDiv .skillsSegment .skillsDiv .skillsGrey .skillsBlue .skillsGrey ul li {
                  font-size: 0.95; } }
        .motherDiv .mainDiv .skillsSegment .skillsDiv .leftSideSkills {
          width: 50%; }
        .motherDiv .mainDiv .skillsSegment .skillsDiv .rightSideSkills {
          width: 50%; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /* ios7 scroll bug fixes. this is usually used for the skipnav link, but is a convenient hook for these styles*/
  z-index: 100000;
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html.ios7 body {
  height: 100%;
  position: fixed;
  width: 100%; }

* {
  margin: 0; }

h3, h4, p {
  opacity: 0.9; }

nav {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background: #019ed3; }
  nav a {
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 900; }
  nav .leftSide {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px; }
    nav .leftSide .iconA {
      height: 100%;
      width: 100%; }
      nav .leftSide .iconA .navName {
        color: #ffffff;
        width: 100%; }
      nav .leftSide .iconA .navPara {
        color: #383838;
        font-weight: 900;
        opacity: 1; }
  nav .rightSide {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    nav .rightSide .navMenuDiv {
      display: flex;
      flex-direction: row;
      width: 150px;
      justify-content: space-evenly; }
      nav .rightSide .navMenuDiv .myStory {
        transition: ease-out all 0.2s; }
        nav .rightSide .navMenuDiv .myStory:hover {
          transition: ease-out all 0.2s;
          box-shadow: inset 1px 1px 5px black; }
  @media (max-width: 650px) {
    nav .leftSide {
      width: 60%; }
    nav .rightSide {
      width: 40%; } }

a {
  text-decoration: none;
  color: inherit; }

p {
  margin: 0; }

.motherDivFooter {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 600px;
  clear: both;
  height: 300px;
  width: 100%;
  background: #383838;
  color: #e4e4e4; }
  .motherDivFooter .topDiv {
    display: flex;
    justify-content: flex-end;
    height: 40%;
    width: 100%;
    padding-top: 20px; }
    .motherDivFooter .topDiv .subTopDiv {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      height: 100%;
      width: 50%; }
      .motherDivFooter .topDiv .subTopDiv .socialsDivFooter {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;
        width: 150px;
        background: #383838; }
        .motherDivFooter .topDiv .subTopDiv .socialsDivFooter .linkedInDivFooter, .motherDivFooter .topDiv .subTopDiv .socialsDivFooter .githubDivFooter, .motherDivFooter .topDiv .subTopDiv .socialsDivFooter .instagramDivFooter {
          align-items: center;
          text-align: center;
          justify-content: center;
          height: 100%;
          width: 50px;
          transition: all ease-in-out .3s;
          fill: #ffffff; }
          .motherDivFooter .topDiv .subTopDiv .socialsDivFooter .linkedInDivFooter:hover, .motherDivFooter .topDiv .subTopDiv .socialsDivFooter .githubDivFooter:hover, .motherDivFooter .topDiv .subTopDiv .socialsDivFooter .instagramDivFooter:hover {
            fill: #f4c400;
            cursor: pointer; }
  .motherDivFooter .bottomDiv {
    height: 60%;
    width: 100%; }
    .motherDivFooter .bottomDiv .subBottomDiv {
      display: flex;
      justify-content: flex-start;
      height: 100%;
      width: 50%; }
      .motherDivFooter .bottomDiv .subBottomDiv .contactDivContainer {
        display: flex;
        align-items: flex-end;
        padding-left: 20px;
        padding-bottom: 20px; }
        .motherDivFooter .bottomDiv .subBottomDiv .contactDivContainer .contactDivFooter {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100px; }
          .motherDivFooter .bottomDiv .subBottomDiv .contactDivContainer .contactDivFooter #nameFooter {
            color: #f4c400;
            font-size: 1.2rem; }
          .motherDivFooter .bottomDiv .subBottomDiv .contactDivContainer .contactDivFooter #emailFooter, .motherDivFooter .bottomDiv .subBottomDiv .contactDivContainer .contactDivFooter #numberFooter, .motherDivFooter .bottomDiv .subBottomDiv .contactDivContainer .contactDivFooter #cityFooter {
            color: #ffffff; }

@font-face {
  src: url(/_next/static/chunks/fonts/museoSans-5b9453f7c8741b9337d517cdbdc2397d.ttf) format("TrueType"); }

html, body {
  cursor: default; }

.contactMotherDiv {
  display: flex;
  flex-direction: column;
  background: #02536D; }
  .contactMotherDiv .mainDivContact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 90%;
    margin-top: 110px; }
    .contactMotherDiv .mainDivContact .headContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: #02536D;
      color: #D6F2F9;
      width: 100%;
      height: 110px;
      background: #02536D;
      border: 5px solid #D6F2F9;
      box-shadow: 0 5px 25px #04A8BC, inset 0 2px 25px #04A8BC;
      max-width: 790px;
      margin-bottom: 52px; }
      .contactMotherDiv .mainDivContact .headContainer .insideHeadDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #D6F2F9;
        font-size: 2rem;
        height: 40px;
        width: 45%; }
        .contactMotherDiv .mainDivContact .headContainer .insideHeadDiv .contactHead {
          font-size: 2.3rem;
          margin: 0; }
        @media (max-width: 700px) {
          .contactMotherDiv .mainDivContact .headContainer .insideHeadDiv {
            width: 60%; } }
        @media (max-width: 500px) {
          .contactMotherDiv .mainDivContact .headContainer .insideHeadDiv {
            width: 70%; }
            .contactMotherDiv .mainDivContact .headContainer .insideHeadDiv .contactHead {
              font-size: 2rem; } }
      @media (max-width: 700px) {
        .contactMotherDiv .mainDivContact .headContainer {
          margin-bottom: 70px; } }
      @media (max-width: 500px) {
        .contactMotherDiv .mainDivContact .headContainer {
          height: 85px;
          border: 4px solid #D6F2F9;
          box-shadow: 0 5px 20px #04A8BC, inset 0 2px 20px #04A8BC; } }
    .contactMotherDiv .mainDivContact .surroundingDivContact {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto auto;
      width: 100%;
      grid-gap: 7%;
      justify-items: center; }
      .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #02536D;
        color: #D6F2F9;
        flex-direction: column;
        width: 100%;
        height: 225px;
        max-width: 790px;
        grid-column: 1/7; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoHeadDiv {
          width: 100%;
          height: 40px;
          background: #02536D;
          color: #D6F2F9;
          display: flex;
          align-items: center;
          justify-content: center; }
          .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoHeadDiv .infoHead {
            width: 90%; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: 185px;
          width: 100%;
          grid-column: 1/7; }
          .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #02536D;
            color: #D6F2F9;
            color: #D6F2F9;
            grid-column: 1/4;
            width: 100%; }
            .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv {
              display: flex;
              align-items: center;
              justify-content: center;
              justify-content: space-evenly;
              flex-direction: column;
              height: 80%;
              width: 100%;
              align-self: center;
              max-width: 335px;
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              grid-template-rows: 40px 40px 40px;
              justify-items: center;
              align-content: center; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv p {
                align-self: flex-start;
                font-size: 1.3rem; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv #nameP {
                grid-column: 1/7;
                grid-row: 1;
                align-self: center;
                font-size: 1.6rem; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv #emailP {
                grid-column: 1/7;
                grid-row: 2;
                align-self: center; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv #numberP {
                grid-column: 1/4;
                grid-row: 3;
                align-self: center; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv #addressP {
                grid-column: 4/7;
                grid-row: 3;
                align-self: center; }
              @media (max-width: 500px) {
                .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv {
                  max-width: 350px; }
                  .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv #numberP {
                    grid-column: 1/4;
                    grid-row: 3; }
                  .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide .contactInfoDiv #addressP {
                    grid-column: 4/7;
                    grid-row: 3; } }
          .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: 4/7;
            width: 100%; }
            .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox {
              height: 100%;
              width: 100%;
              background: #02536D;
              color: #D6F2F9;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #02536D;
              color: #D6F2F9; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%; }
                .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA {
                  height: 70%;
                  width: 75px;
                  transition: all ease-in-out 0.25s;
                  padding: 10px 8px;
                  margin: 5%;
                  margin-top: 0;
                  margin-bottom: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center; }
                  .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .emailSVG, .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .githubSVG, .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .linkedinSVG {
                    -webkit-transition: fill ease-in-out 0.4s;
                    -moz-transition: fill ease-in-out 0.4s;
                    -o-transition: fill ease-in-out 0.4s;
                    transition: fill ease-in-out 0.4s;
                    height: 100%;
                    width: 100%;
                    fill: #FAB635; }
                    .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .emailSVG:hover, .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .githubSVG:hover, .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .linkedinSVG:hover {
                      fill: #d5f2f8; }
                    @media (max-width: 600px) {
                      .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .emailSVG, .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .githubSVG, .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA .linkedinSVG {
                        height: 80%; } }
                  .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA:hover {
                    cursor: pointer;
                    transform: translate(0px, -6px); }
                  @media (max-width: 700px) {
                    .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide .socialBox .socialThird .iconA {
                      margin: 5%; } }
          @media (max-width: 700px) {
            .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv {
              grid-template-rows: 150px 140px; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .contactInfoSide {
                grid-column: 1/7; }
              .contactMotherDiv .mainDivContact .surroundingDivContact .infoContainer .infoDiv .socialInfoSide {
                grid-column: 1/7;
                grid-row: 2; } }
      .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer {
        width: 100%;
        height: 350px;
        max-width: 790px;
        grid-column: 1/7; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm {
          height: 70%;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: auto auto 100px auto;
          grid-gap: 4%;
          row-gap: 7%;
          align-items: center; }
          .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm input, .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm textarea, .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm button {
            background: #02536D;
            color: #D6F2F9;
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            border: none;
            outline: none;
            font-size: 1.2rem;
            border-bottom: 3px solid #D6F2F9; }
            .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm input::placeholder, .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm textarea::placeholder, .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm button::placeholder {
              color: #D6F2F9; }
            @media (max-width: 500px) {
              .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm input, .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm textarea, .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer .contactForm button {
                font-size: 1rem; } }
        .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer #name {
          grid-column: 1/4;
          grid-row: 1;
          height: 75%;
          padding-left: 2.5%;
          padding-bottom: 1.3%; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer #email {
          grid-column: 4/7;
          grid-row: 1;
          height: 75%;
          padding-left: 2.5%;
          padding-bottom: 1.3%; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer #company {
          grid-column: 1/4;
          grid-row: 2;
          height: 75%;
          padding-left: 2.5%;
          padding-bottom: 1.3%; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer #phoneNum {
          grid-column: 4/7;
          grid-row: 2;
          height: 75%;
          padding-left: 2.5%;
          padding-bottom: 1.3%; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer #message {
          grid-column: 1/7;
          grid-row: 3;
          height: 80%;
          padding-left: 1.25%;
          border-left: 3px solid #D6F2F9;
          border-right: 3px solid #D6F2F9; }
        .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer #sendBtn {
          height: 40px;
          grid-column: 1/2;
          grid-row: 4;
          transition: ease-in-out all 0.2s;
          border: 4px solid #fbb635; }
          .contactMotherDiv .mainDivContact .surroundingDivContact .formContainer #sendBtn:hover {
            background: #fbb635;
            color: #02536e;
            cursor: pointer; }
  @media (max-width: 700px) {
    .contactMotherDiv {
      grid-template-rows: 365px auto; } }

@font-face {
  src: url(/_next/static/chunks/fonts/museoSans-5b9453f7c8741b9337d517cdbdc2397d.ttf) format("TrueType"); }

html, body {
  height: 100%;
  cursor: default; }

.motherDivStory {
  display: flex;
  flex-direction: column;
  background: #FFFFFF; }
  .motherDivStory .mainStoryDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 110px;
    margin-bottom: 190px; }
    .motherDivStory .mainStoryDiv .headContainerWork {
      width: 90%;
      max-width: 790px;
      height: 110px;
      margin-bottom: 52px; }
      .motherDivStory .mainStoryDiv .headContainerWork .headerDiv {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #EBEBEB;
        color: #333;
        height: 100%;
        width: 100%;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
        max-width: 790px;
        font-size: 1.8rem;
        grid-column: 1/7; }
        .motherDivStory .mainStoryDiv .headContainerWork .headerDiv .insideHeaderDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30%;
          height: 50px;
          background: #fee002;
          border-right: #00bcc5 solid 5px; }
          .motherDivStory .mainStoryDiv .headContainerWork .headerDiv .insideHeaderDiv .name {
            font-size: 1.8rem;
            margin: 0; }
          @media (max-width: 750px) {
            .motherDivStory .mainStoryDiv .headContainerWork .headerDiv .insideHeaderDiv {
              width: 50%; } }
    .motherDivStory .mainStoryDiv .surroundingStoryDiv {
      width: 90%;
      max-width: 790px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto auto auto;
      grid-gap: 3.5%;
      justify-items: center; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv3 {
        width: 100%;
        max-width: 790px; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv .insideStoryDiv, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv .insideStoryDiv2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv .insideStoryDiv3, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv2 .insideStoryDiv, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv2 .insideStoryDiv2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv2 .insideStoryDiv3, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv3 .insideStoryDiv, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv3 .insideStoryDiv2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv3 .insideStoryDiv3 {
          background: #EBEBEB;
          color: #333;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 87.5%;
          padding: 5% 6.33%; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv {
        grid-column: 1/5; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv2 {
        grid-column: 3/7;
        grid-row: 3; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv3 {
        grid-column: 1/5;
        grid-row: 4; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EBEBEB;
        color: #333;
        width: 100%; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv .imageInside, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv .imageInside2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv .imageInside3, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv .imageInside4, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2 .imageInside, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2 .imageInside2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2 .imageInside3, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2 .imageInside4, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3 .imageInside, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3 .imageInside2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3 .imageInside3, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3 .imageInside4, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 .imageInside, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 .imageInside2, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 .imageInside3, .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 .imageInside4 {
          width: 80%;
          height: 80%;
          background: grey;
          color: white;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          display: flex;
          justify-content: center;
          align-items: center; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv {
        grid-column: 5/7; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2 {
        grid-column: 1/3;
        grid-row: 3; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3 {
        grid-column: 5/7;
        grid-row: 4; }
      .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 {
        grid-column: 5/7;
        grid-row: 4; }
      @media (max-width: 750px) {
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .headerDiv .insideHeaderDiv {
          width: 50%; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv {
          grid-column: 1/4; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv {
          grid-column: 4/7; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv2 {
          grid-column: 4/7; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2 {
          grid-column: 1/4; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv3 {
          grid-column: 1/4; }
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3 {
          grid-column: 4/7; } }
      @media (min-width: 651px) {
        .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 {
          display: none; } }
      @media (max-width: 650px) {
        .motherDivStory .mainStoryDiv .surroundingStoryDiv {
          grid-template-rows: auto 200px auto 200px auto;
          grid-gap: 2%;
          margin-bottom: 80px; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .headerDiv {
            grid-row: 1; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv {
            grid-column: 1/7;
            grid-row: 1; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv {
            grid-column: 1/4;
            grid-row: 2; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv2 {
            grid-column: 1/7;
            grid-row: 3; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv2 {
            grid-column: 4/7;
            grid-row: 2; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv3 {
            grid-column: 1/4;
            grid-row: 4; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .storyDiv3 {
            grid-column: 1/7;
            grid-row: 5; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .imageDiv4 {
            grid-column: 4/7;
            grid-row: 4; } }
      @media (max-width: 450px) {
        .motherDivStory .mainStoryDiv .surroundingStoryDiv {
          grid-gap: 2%; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .headerDiv .insideHeaderDiv {
            width: 60%; }
            .motherDivStory .mainStoryDiv .surroundingStoryDiv .headerDiv .insideHeaderDiv .name {
              font-size: 2.5rem; } }
      @media (max-width: 370px) {
        .motherDivStory .mainStoryDiv .surroundingStoryDiv {
          grid-gap: 2%; }
          .motherDivStory .mainStoryDiv .surroundingStoryDiv .headerDiv .insideHeaderDiv {
            width: 70%; } }
    @media (max-width: 450px) {
      .motherDivStory .mainStoryDiv {
        grid-gap: 2%; } }

@font-face {
  src: url(/_next/static/chunks/fonts/museoSans-5b9453f7c8741b9337d517cdbdc2397d.ttf) format("TrueType"); }

html, body {
  cursor: default; }

.motherDivWork {
  display: flex;
  flex-direction: column;
  background: #02536D; }
  .motherDivWork .mainDivWork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 90%;
    margin-top: 110px; }
    .motherDivWork .mainDivWork .headContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: #02536D;
      color: #D6F2F9;
      width: 100%;
      height: 110px;
      background: #02536D;
      border: 5px solid #D6F2F9;
      box-shadow: 0 3px 25px #04A8BC, inset 0 2px 25px #04A8BC;
      max-width: 790px;
      margin-bottom: 52px; }
      .motherDivWork .mainDivWork .headContainer .insideHeaderDivWork {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D6F2F9;
        font-size: 2rem;
        height: 40px;
        width: 45%; }
        .motherDivWork .mainDivWork .headContainer .insideHeaderDivWork .headWork {
          font-size: 2.3rem;
          margin: 0; }
        @media (max-width: 700px) {
          .motherDivWork .mainDivWork .headContainer .insideHeaderDivWork {
            width: 60%; } }
        @media (max-width: 500px) {
          .motherDivWork .mainDivWork .headContainer .insideHeaderDivWork {
            width: 70%; }
            .motherDivWork .mainDivWork .headContainer .insideHeaderDivWork .headWork {
              font-size: 2rem; } }
      @media (max-width: 500px) {
        .motherDivWork .mainDivWork .headContainer {
          height: 85px;
          border: 4px solid #D6F2F9;
          box-shadow: 0 5px 20px #04A8BC, inset 0 2px 20px #04A8BC; } }
    .motherDivWork .mainDivWork .surroundingDivWork {
      width: 100%;
      height: 100%;
      max-width: 790px;
      display: grid;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 7%;
      justify-items: center; }
      .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column: 1/7;
        width: 100%;
        height: 100%;
        padding-bottom: 1.5%;
        background: #02536D;
        border: 2px solid #D6F2F9; }
        .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec {
          background: #02536D;
          height: 100%; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec .nameDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec .descDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec .tldrDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec .techDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .nameDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .tldrDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .techDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .nameDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .descDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .tldrDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .techDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .nameDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .descDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .tldrDiv, .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techDiv {
            width: 92%;
            height: 86%;
            color: #D6F2F9; }
        .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec {
          grid-column: 1/3;
          grid-row: 1/2;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-left: none;
          border-top: none; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec .nameDiv {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 2px solid #D6F2F9;
            border-top: 0;
            border-left: 0;
            width: auto;
            padding-left: 10px;
            padding-right: 10px; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec .nameDiv .nameHead {
              color: #D6F2F9;
              margin: 0; }
        .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .linksDivSec {
          grid-column: 4/7;
          grid-row: 1/3;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .linksDivSec .linksDiv {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .linksDivSec .linksDiv a {
              background: #fbb634;
              padding: 5px;
              color: #02536e;
              margin: 15px; }
          @media (max-width: 700px) {
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .linksDivSec {
              grid-column: 4/7;
              grid-row: 1/2;
              height: 100%; }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .linksDivSec .linksDiv {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #D6F2F9; }
                .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .linksDivSec .linksDiv .webDiv {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 35%; }
                .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .linksDivSec .linksDiv .ghDiv {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 35%; } }
        .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec {
          grid-column: 1/4;
          grid-row: 2/5;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descHead {
            color: #333;
            display: flex;
            justify-content: flex-start;
            width: 100%; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descHead .desc {
              display: none; }
              @media (max-width: 700px) {
                .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descHead .desc {
                  display: inline-block;
                  margin: 0;
                  background: #D6F2F9;
                  padding: 5px;
                  margin: 0;
                  width: 87px; } }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descDiv {
            display: flex;
            justify-content: flex-start;
            align-items: center; }
        .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec {
          grid-column: 4/7;
          grid-row: 1/3;
          height: 100%;
          display: flex;
          flex-direction: column; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .tldrHead {
            color: #333; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .tldrHead .tldr {
              background: #D6F2F9;
              margin: 0;
              width: 60px; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .tldrSurroundingDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .tldrSurroundingDiv .tldrDiv {
              width: 90%;
              height: 90%; }
        .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec {
          grid-column: 4/7;
          grid-row: 3/5;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          border-top: 2px solid #D6F2F9;
          height: 90%;
          margin-top: 15px; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techHead {
            color: #333; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techHead .tech {
              margin: 0;
              background: #D6F2F9;
              width: 80px;
              padding: 5px; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techDiv .techList {
              width: 90%;
              margin: 0;
              display: grid;
              padding: 0;
              justify-items: center;
              grid-template-columns: repeat(3, 1fr);
              list-style-image: url("https://img.icons8.com/material-sharp/15/000000/pentagon.png"); }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techDiv .techList li {
                margin: 3%; }
        @media (max-width: 500px) {
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descHead .desc {
            width: 95px;
            text-align: center; }
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techHead .tech {
            width: 90px;
            text-align: center; } }
        @media (max-width: 700px) {
          .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow {
            grid-template-rows: repeat(8, auto);
            height: 100%;
            grid-gap: 4%;
            column-gap: 0;
            padding-bottom: 7%; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec {
              grid-column: 1/4;
              grid-row: 1/2; }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .nameDivSec .nameDiv {
                padding-top: 5px;
                padding-bottom: 5px; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec {
              grid-column: 1/7;
              grid-row: 6/9; }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descHead {
                margin-bottom: 10px; }
                .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descHead .desc {
                  border-right: 3px solid #fbb634; }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .descDivSec .descDiv {
                padding-top: 5px;
                padding-bottom: 5px; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec {
              grid-column: 1/7;
              grid-row: 4/6; }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .tldrDivSec .tldrDiv {
                padding-top: 5px;
                padding-bottom: 5px; }
            .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec {
              grid-column: 1/7;
              grid-row: 2/4;
              border: none; }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techHead .tech {
                border-right: 3px solid #fbb634; }
              .motherDivWork .mainDivWork .surroundingDivWork .workExampleWindow .techDivSec .techDiv {
                padding-top: 5px;
                padding-bottom: 5px;
                width: 80%;
                align-self: center; } }
      @media (max-width: 700px) {
        .motherDivWork .mainDivWork .surroundingDivWork {
          grid-gap: 4%; }
          .motherDivWork .mainDivWork .surroundingDivWork .headerDivWork {
            grid-row: 1; } }
      @media (max-width: 450px) {
        .motherDivWork .mainDivWork .surroundingDivWork .headerDivWork .insideHeaderDivWork {
          width: 60%; }
          .motherDivWork .mainDivWork .surroundingDivWork .headerDivWork .insideHeaderDivWork .headWork {
            font-size: 2.5rem; } }
      @media (max-width: 370px) {
        .motherDivWork .mainDivWork .surroundingDivWork .headerDivWork .insideHeaderDivWork {
          width: 70%; } }
    @media (max-width: 700px) {
      .motherDivWork .mainDivWork {
        margin-bottom: 800px; } }
    @media (max-width: 450px) {
      .motherDivWork .mainDivWork {
        margin-bottom: 830px; } }

